* {
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}

.content {
  width: 100%;
  background: rgb(13, 86, 166); 
  border-radius: 0% 0% 47% 0%;
}

.content1 , .content2,.content3,.content4,.content5,.content6 {
  margin-top: 15px;
}
.content2,
.content4,
footer {
  background-color: gray;
}

.atendimento {
  font-size: 20px;
  display: inline-flex;
  width: 100%;
  padding: 10px;
}

.atendimento p {
  width: 50%;
  color: azure;
  font-family: monospace;
  font-size: 20px;
}

.contentMenu {
  position: fixed;
}
.radio-group {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.radio-group input[type="radio"]:checked + label {
  background-color: black;
}

.menu {
  display: inline-flex;
  width: 100%;
  padding: 5px;
  left: 0;

}

.menu h1 {
  font-size: 25px;
  font-family: math;
}

.menu a {
  cursor: pointer;
}

.col {
  width: 20%;
}

.articleContent {
  width: 50%;
  margin: 50px 0;
}

.col1 {
  width: 15%;
  background: rgb(168, 245, 255);
  display: grid;
  align-items: center;
  border-width: 5px;
  border-style: ridge;
  border-color: cornflowerblue;
}

.col2 {
  width: 15%;
  display: block;

  align-items: center;
}

.fixo {
  position: fixed;
  bottom: 15px;
  right: 25px;

}
.fixo img {
  height: 50px;
}
.fixo h1 {
  margin: 20px;
  font-size: 20px;
}
.marcas {
  display: inline-flex;
  height: 34px;
}
.content2 , .content6{
  display: inline-flex;
}

.content2 h3,
.content2 p {
  padding: 10px;
}

/* teste */

.content2 h3 {
  font-family: sans-serif;
}

.content2 p {
  font-family: math;
  font-size: 20px;
}

.val {
  text-align: left;
}

.valTitulo {
  font-weight: 900;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(54, 207, 233);
}

.content2 img {
  border-radius: 0% 22%;
}

.container {
  display: inline-block;
  height: 350px;
  width: 350px;
  margin: 0 15px;
  overflow: hidden;
}

.container figcaption {
  font-size: 25px;
  margin-top: 25px;
}
.radios {
  position: absolute;
  left: 48%;
  top: 100px;
  /* margin: 50px; */
}
.content1{
    border-radius: 1% 1% 22% 22%;
}
.content1 img {
  width: 100%;
}
.content2 {
  border-radius: 19% 5% 31% 5%;
}
.content4{
  border-radius: 37% 1%;
}
.content3 img {
  border-radius: 0% 22%;
}

.content3 h1 {
  font-size: 50px;
  font-family: sans-serif;
  margin-bottom: revert;
}

.popUpManuntencao {
  box-sizing: border-box;
  position: fixed;
  height: 500px;
  left: 5%;
  right: 5%;
  top: calc(25vh - 80px);
  display: none;
  padding: 40px;
  z-index: 1;
  background-color: rgb(54, 207, 233);
  border: 2px solid #c59fde;
  border-radius: 8px;
  box-shadow: 0px 5px 15px -5px #0000003c;
}

.popUpManuntencao p {
  text-align: justify;
  margin: 10px 0;
}

.container p {
  font-size: 20px;
  margin: 0 30px;
}


.content4 article {
  margin-bottom: 50px;
}

.avaliacao {
  background-color: rgb(241, 241, 241);
  margin: 0px 5%;
  border-radius: 30px;
}

.box {
  width: 300px;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  margin: 40px 25px;
}

.avaliacoes {
  display: inline-flex;
}

.metodoPag {
  height: 150px;
  margin: 50px 75px;
}

footer div {
  width: 33%;
  height: 200px;
  overflow-y: hidden;
}

.content5 h1 {
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: revert;

}

.col2_nav {
  display: none;
  width: 55%;
}

/* Button para celular */

/* Style the navigation menu */
.topnav {
  overflow: hidden;

  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 43%;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



/* Responsivo */
@media screen and (min-width: 640px) and (max-width: 1096px) {
  .col1 {
    width: 10%;
  }

  .col1 h1 {
    font-size: 17px;
  }
}

@media screen and (min-width: 600px) and (max-width: 949px) {
  .col {
    width: 20%;
  }
}

@media screen and (min-width: 1px) and (max-width: 800px) {
  .col1 {
    display: none;
  }

  .col2_nav {
    display: initial;
  }
  /* .atendimento {
    display: inline-block;
} */
.atendimento p {
    width: 95%;
    margin: 20px 0;
    font-size: 15px;
}
}

@media screen and (min-width: 100px) and (max-width: 599px) {
  .col {
    width: 50%;
  }
  .atendimento p {
    font-size: 15px;
}
  .col2 {
    width: 36%;
  }

  .avaliacoes {
    display: inline-block;
  }

  .metodoPag {
    height: 100px;
    margin: 50px 71px;
  }

  #footerDois {
    margin-top: 0;
  }

  .image-slideshow img {
    width: 95vw;
    /* margin-top: 65px; */
  }
  .topnav a.icon {
    right: 17%;
}
}

@media(width < 300px) {
  .col img {
    height: 70px;
  }

  .col2 {
    width: 53%;
  }

  .col2 img {
    height: 50px;
  }
  .atendimento p {
    font-size: 20px;
}
}

@media (width <=1000px) and (height <=800px) {
  .atendimento p {
    font-size: 15px;
}
  .image-slideshow img {
    width: 100vw;
  }

  .articleFoto {
    display: none;

  }

  .articleContent {
    width: 100%;
  }

  .metodoPag {
    /* margin: 50px 25px; */
    DISPLAY: inline-block;
  }

  .tipoPagamentos {
    height: 70px;
    margin: 40px 0px;
  }

  .box {
    width: 90vw;
    margin: 40px 5px;
    font-size: 5vw;
  }

  .container {
    margin: 0;
    width: 90vw;
  }
}