* {
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}

.content1,
.content2,
.content3,
.content4,
.content5 {
  margin: 60px 0;
}

.content2,
.content4,
footer {
  background-color: gray;
}

.atendimento {
  background: rgb(54, 207, 233);
  font-size: 20px;
  display: inline-flex;
  width: 100%;
  padding: 10px;
}

.atendimento p {
  width: 50%;
}

.menu {
  display: inline-flex;
  width: 100%;
  padding: 5px;
}

.menu h1 {
  font-size: 25px;
  font-family: math;
}

.col {
  width: 20%;
}

.col1 {
  width: 15%;
  background: rgb(168, 245, 255);
  display: grid;
  align-items: center;
  border-width: 5px;
  border-style: ridge;
  border-color: cornflowerblue;
}

.col2 {
  width: 15%;
  display: grid;
  align-items: center;
}

.fixo {
  position: fixed;
  bottom: 15px;
  right: 25px;
}

.content2 {
  display: inline-flex;
}

.content2 h3,
.content2 p {
  padding: 10px;
}

.content2 h3 {
  font-family: sans-serif;
}

.content2 p {
  font-family: monospace;
}

.val {
  text-align: left;
}

.valTitulo {
  font-weight: 900;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(54, 207, 233);
}

.content2 img {
  border-radius: 0% 22%;
}

.container {
  display: inline-block;
  position: relative;
  height: 350px;
  width: 350px;
  margin: 0 15px;
}

.container figcaption {
  position: absolute;
  font-size: 40px;
  top: 50px;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.content3 img {
  border-radius: 0% 22%;
}

.content3 h1 {
  font-size: 50px;
  font-family: sans-serif;
  margin-bottom: revert;
}
.popUpManuntencao {
  box-sizing: border-box;
  position: fixed;
  height: 500px;
  left: 5%;
  right: 5%;
  top: calc(25vh - 80px);
  display: none;
  padding: 40px;
  z-index: 1;
  background-color:  rgb(54, 207, 233);
  border: 2px solid #c59fde;
  border-radius: 8px;
  box-shadow: 0px 5px 15px -5px #0000003c;
}
.popUpManuntencao p {
  text-align: justify;
  margin: 10px 0;
}   

.container p {
  font-size: 20px;
}


.content4 article {
  margin-bottom: 50px;
}

.avaliacao {
  background-color: rgb(241, 241, 241);
  margin: 0px 5%;
  border-radius: 30px;
}

.box {
  width: 300px;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  margin: 40px 25px;
}

.avaliacoes {
  display: inline-flex;
}

footer div {
  width: 33%;
  height: 200px;
  overflow-y: hidden;
}

.content5 h1 {
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: revert;

}